<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <div style="color: aquamarine;">
      Learning
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">

      <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
      </li>

       <li class="nav-item dropdown" >
         <a class="nav-link dropdown-toggle" routerLink='weer'
           routerLinkActive="active" data-toggle="dropdown">
           Weer
         </a>
         <div class="dropdown-menu">
           <a class="dropdown-item"
            routerLink='weer/list'
            routerLinkActive="active"
            >Weer Overzicht</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item"
            routerLink='weer/regression'
            routerLinkActive="active"
            >Weer Regressie</a>
         </div>
       </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="singledigit" routerLinkActive="active">Single Digit</a>
      </li>
    </ul>
  </div>

</nav>








