# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\try_some_code\semester7\django_rundata\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
